# Individuell uppgift – Hälsostudie

## Del 1 – Grundläggande analys och statistik

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from src.health import HealthAnalyser

analyser = HealthAnalyser("data/health_study_dataset.csv", clean=True)

In [2]:
per_gender = analyser.summery_of_csv_per_gender()
per_gender

           age                                height                          \
          mean median        std min max        mean median       std    min
sex
F    49.868486   50.0  14.485542  18  90  165.103474  165.2  6.853727  144.4
M    48.977330   49.0  14.521388  18  90  178.696977  178.6  7.276071  157.6

            ... systolic_bp                                 cholesterol  \
       max  ...        mean median        std    min    max        mean
sex         ...
F    187.0  ...  148.130025  148.4  13.179834  106.8  185.9    4.889926
M    200.4  ...  150.243073  150.3  12.314155  120.4  184.2    4.968967


    median       std   min   max
sex
F     4.91  0.846840  2.50  7.88
M     5.00  0.849219  2.54  7.50

[2 rows x 25 columns]

In [3]:
summery = analyser.summery_of_csv()

summery

                 age         height        weight    systolic_bp  cholesterol
sum     39541.000000  137479.400000  58730.400000  119342.900000  3943.320000
mean       49.426250     171.849250     73.413000     149.178625     4.929150
median     50.000000     171.350000     73.200000     149.400000     4.970000
std        14.501118       9.804259     13.685059      12.793360     0.848413
min        18.000000     144.400000     33.700000     106.800000     2.500000
max        90.000000     200.400000    114.400000     185.900000     7.880000

In [2]:
smokers = analyser.smoker_per_gender()

smokers

     Total  Smokers
sex
F      403      116
M      397       97

In [ ]:
fig, ax = plt.subplots(figsize=(8,5))

ax.bar()

     Total  Smokers
sex
F      403      116
M      397       97